@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["Title"] = "NGO_Index";
    var restaurantId = ViewBag.RestaurantId;
}

<h1>NGO_Dashboard</h1>

<br />
<a href="/Restaurant/Add/"><btn class="btn btn-primary" type="submit">Add Restuaurant</btn></a>
<a href="/Employee/Index"><btn class="btn btn-primary" type="submit">Employee</btn></a>
<a href="/Restaurant/Collect"><btn class="btn btn-primary" type="submit">Collect Request</btn></a>
<a href="/FoodDistribution/Index"><btn class="btn btn-primary" type="submit">Food Distribution</btn></a>
<a href="/Restaruant/completData"><btn class="btn btn-primary" type="submit">Complete</btn></a>

<br />
<br />

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Info</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.ContactInfo</td>
                    <td>@restaurant.Address</td>
                    <td>
                        <a href="/Restaurant/Edit/@restaurant.ID">Edit</a> |
                        <a href="/Restaurant/Delete/@restaurant.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No restaurants found.</p>
}