@*<a href="/Restaurant/Index"><btn class="btn btn-primary" type="submit">Home</btn></a>*@
<a href="/Restaurant/ViewCollect"><btn class="btn btn-primary" type="submit">View Request Status</btn></a>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["Title"] = "Open Request";
}

@model List<AssignmentOnZeroHunger.DB.Restaurant>

<h2>Dashboard</h2>
<br />


<br />

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="requestId">Restaurant Name:</label>
        <select id="requestId" name="RestaurantID" class="form-control">
            <option value="">Select</option>
            @foreach (var collection in ViewBag.Name)
            {
                <option value="@collection.ID">@collection.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="employeeId">Preservation Time:</label>
        <input class="form-control" type="time" name="PreservationTime" />
    </div>

    <div class="form-group">
        <label for="employeeId">Date:</label>
        <input class="form-control" type="date" name="CollectionDate" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
<br />
<hr />
